In [ ]:
from pasteur.kedro.ipython import *
register_kedro()

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from pasteur.metadata import Metadata
adult: pd.DataFrame = catalog.load("tab_adult.view.table")
admissions: pd.DataFrame = catalog.load("mimic_tab_admissions.view.table")

adult_meta: Metadata = catalog.load("tab_adult.view.metadata")
admissions_meta: Metadata = catalog.load("mimic_tab_admissions.view.metadata")

In [ ]:
from pasteur.transform.table import TableTransformer

In [ ]:
atrn = TableTransformer(adult_meta, "table")
atrn.fit(adult)
atrn.get_attributes()

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /tmp/ipykernel_1743796/3744811062.py:2 in <cell line: 2>                                         │
│                                                                                                  │
│ [Errno 2] No such file or directory: '/tmp/ipykernel_1743796/3744811062.py'                      │
│                                                                                                  │
│ /mnt/ext/projects/pasteur/src/pasteur/transform/table.py:160 in fit                              │
│                                                                                                  │
│   157 │   │   │   │   │   ref_col = table[f_col]                                                 │
│   158 │   │   │                                                                                  │
│   159 │   │   │   # Fit transformer                                                              │
│ ❱ 160 │   │   │   t = transformers[col.type](**col.args)                                         │
│   161 │   │   │   if isinstance(t, RefTransformer) and ref_col is not None:                      │
│   162 │   │   │   │   t.fit(table[name], ref_col)                                                │
│   163 │   │   │   else:                                                                          │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
KeyError: 'numerical'

In [ ]:
enc = atrn.transform(adult)
enc.info()

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /tmp/ipykernel_1743796/2852719546.py:1 in <cell line: 1>                                         │
│                                                                                                  │
│ [Errno 2] No such file or directory: '/tmp/ipykernel_1743796/2852719546.py'                      │
│                                                                                                  │
│ /mnt/ext/projects/pasteur/src/pasteur/transform/table.py:174 in transform                        │
│                                                                                                  │
│   171 │   │   tables: Dict[str, pd.DataFrame] | pd.DataFrame,                                    │
│   172 │   │   ids: pd.DataFrame | None = None,                                                   │
│   173 │   ):                                                                                     │
│ ❱ 174 │   │   assert self.fitted                                                                 │
│   175 │   │                                                                                      │
│   176 │   │   meta = self.meta[self.name]                                                        │
│   177 │   │   if isinstance(tables, dict):                                                       │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
AssertionError

In [ ]:
dec = atrn.reverse(enc)
dec.info()

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /tmp/ipykernel_1743796/661810787.py:1 in <cell line: 1>                                          │
│                                                                                                  │
│ [Errno 2] No such file or directory: '/tmp/ipykernel_1743796/661810787.py'                       │
│                                                                                                  │
│ /mnt/ext/projects/pasteur/src/pasteur/transform/table.py:228 in reverse                          │
│                                                                                                  │
│   225 │   ):                                                                                     │
│   226 │   │   # If there are no ids that reference a foreign table, the ids and                  │
│   227 │   │   # parent_table parameters can be set to None (ex. tabular data).                   │
│ ❱ 228 │   │   assert self.fitted                                                                 │
│   229 │   │   transformers = self.transformers                                                   │
│   230 │   │                                                                                      │
│   231 │   │   meta = self.meta[self.name]                                                        │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
AssertionError

In [ ]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48842 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int32
 1   workclass       48842 non-null  category
 2   fnlwgt          48842 non-null  int32
 3   education       48842 non-null  category
 4   education-num   48842 non-null  int32
 5   marital-status  48842 non-null  category
 6   occupation      48842 non-null  category
 7   relationship    48842 non-null  category
 8   race            48842 non-null  category
 9   sex             48842 non-null  category
 10  capital-gain    48842 non-null  int32
 11  capital-loss    48842 non-null  int32
 12  hours-per-week  48842 non-null  int32
 13  native-country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: category(7), int32(6), object(2)
memory usage: 2.6+ MB

In [ ]:
np.all(adult == dec)

True

In [ ]:
mtrn = TableTransformer(admissions_meta, "table")
mtrn.fit(admissions)

In [ ]:
menc = mtrn.transform(admissions)
menc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523740 entries, 21038362 to 24981356
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   dod_year              34446 non-null   float32
 1   dod_week              523740 non-null  uint8
 2   dod_day               523740 non-null  uint8
 3   admittime_year        523740 non-null  float32
 4   admittime_week        523740 non-null  uint8
 5   admittime_day         523740 non-null  uint8
 6   admittime_time        523740 non-null  uint8
 7   dischtime_year        523740 non-null  float32
 8   dischtime_week        523740 non-null  uint8
 9   dischtime_day         523740 non-null  uint8
 10  dischtime_time        523740 non-null  uint8
 11  deathtime_year        9337 non-null    float32
 12  deathtime_week        523740 non-null  uint8
 13  deathtime_day         523740 non-null  uint8
 14  deathtime_time        523740 non-null  uint8
 15  admission_type        523740 non-null  uint8
 16  admission_location    523740 non-null  uint8
 17  discharge_location    523740 non-null  uint8
 18  insurance             523740 non-null  uint8
 19  language              523740 non-null  uint8
 20  marital_status        523740 non-null  uint8
 21  ethnicity             523740 non-null  uint8
 22  hospital_expire_flag  523740 non-null  uint8
 23  gender                523740 non-null  uint8
dtypes: float32(4), uint8(20)
memory usage: 38.1 MB

In [ ]:
mdec = mtrn.reverse(menc)
mdec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523740 entries, 21038362 to 24981356
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   birth_year            523740 non-null  datetime64[ns]
 1   dod                   34446 non-null   datetime64[ns]
 2   admittime             523740 non-null  datetime64[ns]
 3   dischtime             523740 non-null  datetime64[ns]
 4   deathtime             9337 non-null    datetime64[ns]
 5   admission_type        523740 non-null  category
 6   admission_location    463305 non-null  object
 7   discharge_location    397083 non-null  object
 8   insurance             523740 non-null  category
 9   language              523740 non-null  category
 10  marital_status        457633 non-null  category
 11  ethnicity             523740 non-null  category
 12  hospital_expire_flag  523740 non-null  int64
 13  gender                523740 non-null  category
dtypes: category(6), datetime64[ns](5), int64(1), object(2)
memory usage: 55.1+ MB

In [ ]:
adm = admissions.drop(columns=["subject_id", "year_group", "edregtime", "edouttime"])
adm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523740 entries, 21038362 to 24981356
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   admittime             523740 non-null  datetime64[ns]
 1   dischtime             523740 non-null  datetime64[ns]
 2   deathtime             9337 non-null    datetime64[ns]
 3   admission_type        523740 non-null  category
 4   admission_location    463305 non-null  object
 5   discharge_location    397083 non-null  object
 6   insurance             523740 non-null  category
 7   language              523740 non-null  category
 8   marital_status        457633 non-null  category
 9   ethnicity             523740 non-null  category
 10  hospital_expire_flag  523740 non-null  int64
 11  gender                523740 non-null  category
 12  dod                   34446 non-null   datetime64[ns]
 13  birth_year            523740 non-null  datetime64[ns]
dtypes: category(6), datetime64[ns](5), int64(1), object(2)
memory usage: 55.1+ MB

In [ ]:
cols = list(adm.columns)

adm[cols].head().style

<pandas.io.formats.style.Styler object at 0x7f199efcfdf0>

,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,dod,birth_year
hadm_id,,,,,,,,,,,,,,
21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,NaT,ELECTIVE,None,HOME,Other,ENGLISH,SINGLE,UNKNOWN,0,F,NaT,2139-01-01 00:00:00
24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,NaT,ELECTIVE,None,HOME,Other,ENGLISH,nan,WHITE,0,F,NaT,2123-01-01 00:00:00
21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,NaT,ELECTIVE,None,HOME,Other,ENGLISH,nan,UNKNOWN,0,M,NaT,2147-01-01 00:00:00
24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,NaT,ELECTIVE,None,HOME,Other,ENGLISH,nan,OTHER,0,F,NaT,2165-01-01 00:00:00
23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,NaT,ELECTIVE,None,HOME,Other,ENGLISH,nan,BLACK/AFRICAN AMERICAN,0,M,NaT,2122-01-01 00:00:00

In [ ]:
mdec[cols].head().style

<pandas.io.formats.style.Styler object at 0x7f199876aa70>

,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,dod,birth_year
hadm_id,,,,,,,,,,,,,,
21038362,2000-09-30 14:00:00,2000-10-02 11:30:00,NaT,ELECTIVE,,HOME,Other,ENGLISH,SINGLE,UNKNOWN,0,F,NaT,2000-01-01 00:00:00
24941086,2000-10-05 23:30:00,2000-10-10 11:00:00,NaT,ELECTIVE,,HOME,Other,ENGLISH,nan,WHITE,0,F,NaT,2000-01-01 00:00:00
21965160,2000-01-15 09:00:00,2000-01-18 14:00:00,NaT,ELECTIVE,,HOME,Other,ENGLISH,nan,UNKNOWN,0,M,NaT,2000-01-01 00:00:00
24709883,2000-12-29 17:30:00,2000-01-04 21:00:00,NaT,ELECTIVE,,HOME,Other,ENGLISH,nan,OTHER,0,F,NaT,2000-01-01 00:00:00
23272159,2000-09-01 08:30:00,2000-09-03 12:30:00,NaT,ELECTIVE,,HOME,Other,ENGLISH,nan,BLACK/AFRICAN AMERICAN,0,M,NaT,2000-01-01 00:00:00

In [ ]:
menc["admittime_year"]

hadm_id
21038362     0.0
24941086     0.0
21965160     0.0
24709883     0.0
23272159     0.0
            ...
20786062    33.0
20943099    45.0
23176714    76.0
22347500    48.0
24981356    86.0
Name: admittime_year, Length: 523740, dtype: float32